@keyframes HoverMenu{
    from{
        opacity: 0;
        transform: scaleX(0);
    }
    to{
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes HoverBtn{
    from{
        opacity: 0.6;
    }
    to{
        opacity: 1;
    }
}